body {
  background-image: url("images/ocean-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.box-middle {
  margin-top: 70px;
  border-radius: 25px;
  height: 300px;
  width: 400px;
  background-color: #010c1b86;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid #ffffff;
}
label {
  color: #ffffff;
}
.btn-primary {
  background-color: #0d69f3;
  margin-top: 20px;
}
